@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.navbar-brand {
      gap: 0;
      padding: 0;
    }

    .navbar-brand img {
      margin: 0;
      padding: 0;
      display: block;
    }

    .navbar-brand span {
      margin: 0;
      padding: 0;
    }

    /* Espaçamento entre os botões da navbar */
    .navbar-nav .nav-item {
      margin-right: 1.5rem;
    }

    .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }

    body{
        background-color: rgb(196, 210, 255) !important;
    }

    .navbar-custom {
    background-color: #0d0a48; /* Roxo escuro, por exemplo */
    }

    .navbar-custom .nav-link,
    .navbar-custom .navbar-brand {
     color: white;
    }

    .navbar-custom .nav-link:hover {
    color: #FFD700; /* Dourado no hover, opcional */
    }

.card-title{
    color:#0d0a48
}

.site-footer {
 background-color: #0d0a48;
  color: #f0f0f0;
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  font-family: "Segoe UI", sans-serif;
  margin-top: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
}

.site-footer p {
  margin: 6px 0 !important;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body > .container {
  flex: 1;
}

.form-box {
  max-width: 600px; /* você pode ajustar para 500px, 400px, etc */
  width: 100%;
}

.card-body1 {
  padding: 20px;

}

.form-control {
  padding: 6px 10px;
  font-size: 14px;
}

.stepper {
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #999;
}

.step.active {
  color: #3B5BDB; /* azul moderno */
}

.circle {
  border: 2px solid currentColor;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 4px;
}
